<div *ngIf="isExist" class="chatpanel">
    <div class="info">
        <h5>
            Hello : {{nickName}}
        </h5>
        <h5>
            Your session id:
            {{idSocket}}
        </h5>

        <input (click)="logout()" class="btn btn-primary" type="button" value="Leave Chat">

  <ul *ngIf="lstFriend"  class="friends">
    <li *ngFor="let item of lstFriend; trackBy:trackByFriend" class="cursor-pointer">
        <a (click)="chatWithFriend(item.SocketId)">
           {{item.nickname}} 
        </a>
    </li>
  </ul>
         
    </div>


    <!-- <ul>
        <li *ngFor="let item of testTrackBy; trackBy:trackByFn" >
            {{item |json}}
        </li>
    </ul> -->
</div>



<div *ngIf="!isExist" class="login">
    <div class="form">
        <h3>
            What is yours nickname?
        </h3>
        <input type="text" appAutofocus autofocus (keyup.enter)="submitNickname($event)" maxlength="14">

    </div>
</div>